{% extends 'base.html'%}

{% block content%}
    <h2>Cart</h2>
    {% if cart.products.exists %}
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
              </tr>
            </thead>
            {% for product in cart.products.all %}
            <tbody>
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>
                  <a href="{{product.get_absolute_url}}">{{product.title}}</a>
                  {% include 'products/snippets/update_cart.html' with product=product cart=cart in_cart=True %}
                </td>
                <td>{{product.price}}</td>
              </tr>
            {%endfor%}
              <tr>
                <td colspan="2"></td>
                <td><b>Subtotal </b>{{cart.subtotal}}</td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><b>Total </b>{{cart.total}}</td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><a class="btn btn-info" href="{% url 'cart:checkout' %}">checkout</a></td>
              </tr>
            </tbody>
        </table>
    {%else%}
        <p class="lead">Cart empty</p>
    {%endif%}
{%endblock%}