<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'base/css.html' %}
    {% block head %}
    {% endblock %}
    <title>{% block title %}Hello, world!{%endblock%}</title>
  </head>
  <body>
    {% include 'base/navbar.html'%}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script>
      function myFunction() {
          console.log(x.value);
          var x = document.getElementById("myInput");
          document.getElementById("demo").innerHTML = x.value;
          console.log();
      }
    </script>
    {% include 'base/js.html' %}
    <script type="text/javascript">
        // auto search
        $(document).ready(function () {
            var $searchForm = $(".search-form")
            var $searchInput = $searchForm.find("[name='q']")
            var $typingTimer;
            var $typingInterval = 1500

            $searchInput.keyup(function (event) {
                clearTimeout($typingTimer)
                $typingTimer = setTimeout(performSearch,$typingInterval)
            })
            
            function performSearch() {
                var $query = $searchInput.val()
                window.location.href='/search/?q='+ $query
            }
            
            // cart ajax
            var $productForm = $('.form-product-ajax')
            $productForm.submit(function (e) {
                e.preventDefault();
                //console.log("Form is not submitting")
                var $thisForm = $(this)
                var $httpMethod      = $(this).attr("method");
                //var $endpointAction  = $(this).attr("action");
                var $endpointAction  = $(this).attr("data-endpoint");
                var $formData        = $(this).serialize();

                $.ajax({
                    url: $endpointAction,
                    method: $httpMethod,
                    data: $formData,
                    success: function(data){
                        var $submitData = $thisForm.find(".submit_span")
                        if(data.added){
                            $submitData.html("<button type=\"submit\" class=\"btn btn-link\" style=\"padding:0\">Remove?</button>")
                        }else {
                            $submitData.html("<button type=\"submit\" class=\"btn btn-success\">Add</button>")
                        }
                        var $cartItemCount = $(".itemCount")
                        $cartItemCount.text(data.itemCount)
                        var $currentPath = window.location.href
                        if($currentPath.indexOf("cart")){
                            refreshCart();
                        }

                    },
                    error: function (errorData) {
                        console.log("error")
                        console.log(errorData)
                    }

                })
            })
            function refreshCart() {
                // ajax cart functionality
                console.log("In current curt!");
                var $cartTable = $(".cart-table")
                var $cartTableBody = $(".cart-table-body")

                //$cartTableBody.html("<h1>Changed</h1>")
                var $productsRows = $cartTableBody.find('.cart-product')
                var $currentUrl = window.location.href

                var $refreshCartUrl     = "/api/cart/"
                var $refreshCartMethod  = "GET"
                var $data = {};

                $.ajax({
                    url:  $refreshCartUrl,
                    method: $refreshCartMethod,
                    data  : $data,
                    success : function (data) {

                        var $hiddenClassRemeveForm = $(".remove-product-item")
                        if(data.products.length > 0){
                            $productsRows.html("")
                            i = data.products.length
                            $.each(data.products, function (index,value) {
                                var $newCartRemoveItem = $hiddenClassRemeveForm.clone()
                                //$newCartRemoveItem.css("display":"block")
                                $newCartRemoveItem.find(".cart-item-product-id").val(value.id)
                                $cartTableBody.prepend("<tr><th scope=\"row\">"+ i +"</th><td><a href='"+ value.url +"'>"+ value.title +"</a>"+$newCartRemoveItem.html()+"</td><td>"+ value.price +"</td></tr>")
                                i --
                            })
                            $cartTableBody.find('.cart-subtotal').text(data.subtotal)
                            $cartTableBody.find('.cart-total').text(data.total)

                        }else {
                            window.location.href = $currentUrl
                        }
                    },
                    error : function (errorData) {
                        console.log("Error!")
                    }
                })
            }
        })
    </script>
  </body>
</html>