{%include 'base.html'%}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>{{object.title}}</h1>
            <h3>{{"Some Title"|title}}</h3>
            <p>{{object.timestamp}}</p>
            <p>{{object.timestamp|timesince}} ago</p>
            <p>{{object.description|linebreaksbr|safe}}</p>
            {% if object.image %}
                <img src="{{object.image.url}}" alt="image">
            {% endif %}
        </div>

        <div class="col-12 col-md-6">
            {{cart}}
            <!-- abc should be object -->
            {%if object in cart.products.all %}
                <button class="btn btn-link">remove?</button>
            {%else%}
                <button class="btn btn-success">Add to cart</button>
            {%endif%}
        </div>
    </div>
</div>

{% endblock %}